.NSFWButton{
    position: fixed;
    bottom: 15px;
    right: 15px;
    transition: 0.4s ease;
    width: 50px;
    height: 24px;
    background-color: #c4c4c4;
    padding: 3px;
    z-index: 300;

    &.hide{
        opacity: 0;
        pointer-events: none;
    }

    &.inactive{
        background-color: #ff0055;

        .handler{
            transform: translateX(100%);
        }
    }

    .handler{
        transition: 0.4s ease;
        background-color: #fff;
        width: 50%;
        height: 100%;
        border-radius: 50px;
        transform: translateX(0%);
    }
}

.search-container{
    bottom: 15px;

    .SearchButton{
        background-color: #ff0055;
    }

    form{
        input{
            transition: 0.3s ease;
            width: 230px;
            height: 100%;
            border: none;
            padding: 0 22px;

            &::placeholder{
                font-size: 12px;
            }

            &.inactive{
                width: 0px;
                padding: 0;
            }
        }
    }
}

