.SettingsModal{
    transition: 0.4s ease;
    position: fixed;
    bottom: 70px;
    right: 15px;
    flex-direction: column;
    align-items: flex-end;

    &.inactive{
        pointer-events: none;
        opacity: 0;
    }

    .modal{
        transition: 0.12s ease;
        border-radius: 8px;
        background-color: #323241ed;
        overflow: hidden;
        width: 180px;
    }

    &.hide{
        opacity: 0;
        pointer-events: none;
    }
}

.toggler{
    transition: 0.4s ease;
    width: 50px;
    height: 24px;
    background-color: #c4c4c4;
    padding: 3px;
    z-index: 300;

    &.inactive{
        background-color: #ff0055;

        .handler{
            transform: translateX(100%);
        }
    }

    .handler{
        transition: 0.4s ease;
        background-color: #fff;
        width: 50%;
        height: 100%;
        border-radius: 50px;
        transform: translateX(0%);
    }
}

.search-container{
    bottom: 15px;

    form{
        input{
            transition: 0.3s ease;
            width: 230px;
            height: 100%;
            border: none;
            padding: 0 22px;

            &::placeholder{
                font-size: 12px;
            }

            &.inactive{
                width: 0px;
                padding: 0;
            }
        }
    }
}

.sett-btn{
    position: absolute;
    right: 25px;
    bottom: 15px;
}

.SearchButton{
    background-color: #ff0055;
}

.DetailsButton{
    z-index: 1;
    bottom: 8px;
    left: 10px;
    background-color: #5d5d5da3;
}

.expand-btn{
    justify-content: flex-end;
    transition: 0.3s ease;
    top: 0;
    left: 0;
    height: 23px;

    &:hover{
        background-color: #1e1e27;
    }
}

.fullscreen-btn{
    height: fit-content;
    top: 12px;
    right: 12px;
    background-color: #424242a3;
}