.bg-loading{
    animation: grayout 1s ease-in-out infinite;
}

.bg-grid-overlay{
    background-color: #ff0055cc;
}

.grid-item{
    overflow: hidden;
    
    .overlay{
        @extend .bg-grid-overlay;
        transition: 0.2s ease;
        position: absolute;
        top: 0;
        transform: translateY(101%);
        z-index: 2;

        .details-stats{
            top: 8px;
            right: 15px;
            
            .stat-icon{
                font-size: 125%;

                span{
                    font-size: 75%;
                }
            }
        }

        .details{
            position: absolute;
            bottom: 0;
            opacity: 0;

            .sub{font-size: 100%;}
            .title{font-size: 85%;}
            .domain{font-size: 100%;}
        }
    }

    &.desktop{
        &:hover > .overlay{
            transform: translateY(0%);
            .details{
                opacity: 1;
            }
        }
    } 

    &.mobile{
        .active{
            transform: translateY(0%);
            .details{
                opacity: 1;
            }
        }
    }
}

@keyframes grayout{
    0%{
        background-color: rgb(202, 202, 202);
    }
    50%{
        background-color: rgb(173, 173, 173);
    }
    100%{
        background-color: rgb(202, 202, 202);
    }
}

.blurried{
    filter: blur(40px);
}
