#page-logo{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #D01B46;
}

#logo-anchor{
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 60px auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(110, 110, 110); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(90, 90, 90); 
}