.bg-loading {
  animation: grayout 1s ease-in-out infinite; }

.bg-grid-overlay, .grid-item .overlay {
  background-color: #ff0055cc; }

.grid-item {
  overflow: hidden; }
  .grid-item .overlay {
    transition: 0.2s ease;
    position: absolute;
    top: 0;
    transform: translateY(101%);
    z-index: 2; }
    .grid-item .overlay .details {
      position: absolute;
      bottom: 0;
      opacity: 0; }
  .grid-item:hover > .overlay {
    transform: translateY(0%); }
    .grid-item:hover > .overlay .details {
      opacity: 1; }

@keyframes grayout {
  0% {
    background-color: #cacaca; }
  50% {
    background-color: #adadad; }
  100% {
    background-color: #cacaca; } }

.blurried {
  filter: blur(40px); }
